main {
  margin: 30px 120px 10px 520px;
  background-color: #ffffa7;
  border-radius: 20px;
  border-style: solid;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

#count-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 50px;
}

#reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 50px;
  cursor: pointer;
}

.operation-btn {
  background-color: salmon;
  cursor: pointer;
}
