.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* background-color: black; */
  background-color: rgb(230, 191, 191);
  /* background-image: url("./cat-1647775_960_720.webp"); */
  background-image: url("kitten-4611189_960_720.jpeg");
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: lightgrey;
}

.left-footer-pic-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: lightgrey;
}

.right-footer-pic-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer-cat {
  max-width: 10%;
  border-radius: 30px;
  padding: 5px;
}
